<?xml version="1.0"?>

<launch>
    <arg name="ur_hardware_interface" default="/ur_hardware_interface"/>
    <arg name="joint" default="gripper_joint"/>
    <arg name="max_position_voltage" default="3.0"/>
    <arg name="state_publish_rate" default="50.0"/>
    <arg name="action_monitor_rate" default="5.0"/>

    <node name="onrobot_gripper" pkg="onrobot_control" type="onrobot_gripper_node.py" output="screen" respawn="true">
        <param name="ur_hardware_interface" type="str" value="$(arg ur_hardware_interface)"/>
        <param name="joint" type="str" value="$(arg joint)"/>
        <param name="max_position_voltage" type="double" value="$(arg max_position_voltage)"/>
        <param name="state_publish_rate" type="double" value="$(arg state_publish_rate)"/>
        <param name="action_monitor_rate" type="double" value="$(arg action_monitor_rate)"/>
    </node>
</launch>